#root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  /* height: 100%; */
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.href {
  text-decoration: none;
}

.header {
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  height: 75px;
  padding: 0 25px;
  box-shadow: 0px 2px 8px 0px rgba(56,56,56,0.5);
  z-index: 100;
}

.homepage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.header-button {
  margin: 10px;
  border: 2px solid black;
  color: black;
  border-radius: 50px;
  width: 150px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 1px;
}

.header-button:hover {
  background-color: #f5a99b;
  border-color: #f5a99b;
  color: white;
  transition: background-color 0.5s, border-color 0.2s;
  cursor: pointer;
}

.categories-link {
  color: gray;
  font-size: 14px;
  margin-right: 100px;
  letter-spacing: 1px;
}

.categories-link:hover {
  color: black;
  transition: all .5s linear;
}

.horizontal-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.vertical-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.generic-container {
  height: auto;
}
