#root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.categories {
  height: auto;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
  position: relative;
}

.categories-container {
  position: absolute;
  bottom: 0;
  width: 100vw;
  overflow-x: scroll;
  z-index: 50;
  height: auto;
}

/* .categories-box {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: auto;
  width: 100%;
} */

#Food {
  background-image: url("food.jpg");
  background-size: cover;
}

#Housing {
  background-image: url("home.jpg");
  background-size: cover;
}

#Legal {
  background-image: url("legal.jpg");
  background-size: cover;
}

#Education {
  background-image: url("education.jpg");
  background-size: cover;
}

#Filler {
  background-color: darkgray;
}

.ImageBox:hover {
  /* transform: scale(1.05); */
  transition: all 0.2s ease-in;
}

.ImageBox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
  position: relative;
  width: 160px;
  height: 160px;
  flex-shrink: 0;
  z-index: 3;
  cursor: pointer;
}

.CategoryName {
  z-index: 25;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 1px;
  font-weight: 800;
}

.imagebox-container {
  text-decoration: none;
  position: relative;
  z-index: 10;
}

.imagebox-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 24;
  object-fit: cover;
}

.info-circle {
  position: absolute;
  top: -10px;
  left: -5px;
  z-index: 10;
  padding: 5px;
  height: 40px;
  width: 40px;
  border-radius: 80px;
  background-color: white;
  color: gray;
  cursor: pointer;
}

.info-circle:hover {
  color: black;
}

.categories-scroll-title {
  font-size: 36px;
  letter-spacing: 4px;
  font-weight: 800;
  color: black;
  margin-bottom: 15px;
}

/* info modals  */

.info-modal {
  height: 500px;
  width: 600px;
  padding: 20px 40px 30px 40px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(56,56,56,0.5);
  position: fixed;
  top: 0;
  left:0;
  right:0;
  margin-top: 125px;
  margin-left:auto;
  margin-right:auto;
  z-index: 91;
  border-radius: 10px;
  overflow-y: scroll;
}

/* .imagebox-photo {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 24;
  object-fit: cover;
} */

/* category popup */

.chosen {
  filter: brightness(1) saturate(100%);
}

.chosen:hover {
  filter: brightness(.5) saturate(50%);
}

.not-chosen {
  filter: brightness(.5) saturate(50%);
}

.not-chosen:hover {
  filter: brightness(1) saturate(100%);
}
