#root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.categories {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.categories-box {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.category-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 25px;
  flex-shrink: 0;
}
