#root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.timeline {
  background-color: lightgray;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.timeline-content {
  padding: 50px 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
}

.search-bar > div {
  margin: 0 15px;
}

.search {
  flex-grow: 1;
  border-radius: 4px;
  height: 35px;
  border: none;
  font-size: 14px;
  padding: 0 15px;
  background-color: white;
}

.search::placeholder {
  color: #aaa;
}

.search:focus {
  outline: none;
}

.timeline-select {
  width: 150px;
  font-size: 14px;
}

.timeline-multiselect {
  width: 250px;
  font-size: 14px;
}

.postButton {
  width: 150px;
  height: 35px;
  background-color: gray;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: white
}

.timeline-title {
  color: black;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin: 25px 0;
  font-size: 40px;
  font-weight: 800;
  border-bottom: 0.5px solid gray;
}

.search-bar-2 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 900px;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
}

/* -------- POST -------- */

.post {
  background-color: #8fbdbb;
  height: 300px;
  width: 900px;
  margin: 50px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
  margin-right: 25px;
  flex-shrink: 0;
}

.post-og {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 30px 50px;
}

.post-text-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}

.post-text > div {
  margin: 10px 0;
}

.post-name {
  font-size: 24px;
  font-weight: 600;
}

.housing-label {
  background-color: white;
  width: 150px;
  height: 30px;
  color: gray;
  border-radius: 50px;
  font-size: 12px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-bottom: -2%;
}

.post-line {
  height: 4px;
  background-color: lightgray;
  border: 1px solid lightgray;
  width: 100%;
}

.post-response {
  margin: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-response > input {
  margin: 0 25px;
}

.post-response-pic {
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50px;
  object-fit: cover;
}

.post-button {
  font-size: 10px;
  width: 100px;
  height: 30px;
}

.post-reply {
  border-radius: 25px;
}

.ratings {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.rating {
  font-size: 10px;
  margin: -10px 0;
}

.triangle-top {
  width: 0;
  height: 0;
  border: solid 15px;
  border-color: transparent transparent white transparent;
  margin-bottom: 5px;
  z-index: 10;
}

.triangle-top:hover {
  border-color: transparent transparent gray transparent;
  transition: all 0.3s linear;
}

.triangle-bottom {
  margin-top: 5px;
  width: 0;
  height: 0;
  border: solid 15px;
  border-color: white transparent transparent transparent;
  z-index: 10;
}

.triangle-bottom:hover {
  border-color: gray transparent transparent transparent;
  transition: all 0.3s linear;
}

.Housing {
  background-color: #8fbdbb;
  cursor: pointer;
}

.Food {
  background-color: #f5a99b;
  cursor: pointer;
}
