#root {
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.timeline {
  background-color: #E3E2E4;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  flex-direction: column;
}

.timeline-content {
  padding: 50px 0;
}

.search-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 900px;
  background-color: gray;
  border-radius: 10px;
  padding: 20px 20px;
  margin-top: 40px;
}

.search-bar > div {
  margin: 0 15px;

}

.cityText {
  font-size: 14px;
  font-weight: 600;
}

.search {
  flex-grow: 1;
  border-radius: 4px;
  height: 35px;
  border: none;
  font-size: 14px;
  padding: 0 15px;
  background-color: white;
}

.search::placeholder {
  color: #aaa;
}

.search:focus {
  outline: none;
}

.timeline-select {
  width: 150px;
  font-size: 14px;
}

.timeline-multiselect {
  width: 250px;
  font-size: 14px;
}

.postButton {
  width: 150px;
  height: 35px;
  background-color: gray;
  border: 2px solid white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  letter-spacing: 1px;
  color: white;
}

.postButton:hover {
  cursor: pointer;
  color: gray;
  background-color: white;
}

.timeline-title {
  color: black;
  letter-spacing: 2px;
  padding-bottom: 10px;
  margin: 25px 0;
  font-size: 40px;
  font-weight: 800;
  border-bottom: 0.5px solid gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-bar-2 {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 900px;
}

.city-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  font-size: 12px;
}

/* -------- POST -------- */

.post {
  background-color: #8fbdbb;
  height: 300px;
  width: 900px;
  margin: 50px 0;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.post-pic {
  width: 125px;
  height: 125px;
  border-radius: 100px;
  object-fit: cover;
  flex-shrink: 0;
}

.post-pic:hover {
  transform: scale(1.03);
  transition: all 0.3s linear;
}

.post-og {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 50px 30px 50px;
}

.post-text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.post-text {
  width: 600px;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0.5px;
}

.post-text > div {
  margin: 10px 0;
}

.post-name {
  font-size: 12px;
  font-weight: 400;
}

.post-propic {
  margin-right: 25px;
}

.housing-label {
  background-color: gray;
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 0.5px;
  width: 150px;
  height: 30px;
  color: white;
  border-radius: 50px;
  font-size: 10px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 40px;
  margin-right: 100px;
  margin-bottom: -2%;
}

.housing-label:hover {
  cursor: pointer;
  background-color: white;
  color: gray;
  transition: all 0.2s linear;
}

.star {
  align-self: flex-end;
  margin-right: 50px;
  color: white;
}

.star:hover {
  color: black;
  cursor: pointer;
  transition: color 0.3s linear;
}

.favorite {
  color: black;
}

.favorite:hover {
  color: white;
}

.post-line {
  height: 4px;
  background-color: lightgray;
  border: 1px solid lightgray;
  width: 100%;
}

.post-response {
  margin: 20px 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.post-response > input {
  margin: 0 25px;
}

.post-response-pic {
  height: 50px;
  width: 50px;
  background-color: gray;
  border-radius: 50px;
  object-fit: cover;
}

.post-button {
  font-size: 10px;
  width: 100px;
  height: 30px;
}

.post-reply {
  border-radius: 25px;
}

.ratings {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin-top: 25px;
}

.rating {
  font-size: 10px;
  margin: 10px;
}

.triangle-top {
  margin-bottom: 5px;
  z-index: 10;
  color: white;
}

.triangle-top:hover {
  color: lightgreen;
  cursor: pointer;
}

.triangle-bottom {
  margin-top: 5px;
  z-index: 10;
  color: white;
}

.triangle-bottom:hover {
  color: red;
  cursor: pointer;
}

/* random other shit */

.envelope {
  font-size: 12px;
  margin-left: 10px;
  cursor: pointer;
  color: black;
}

.envelope:hover {
  color: white;
  transition: color 0.2s ease-in;
}

.times-circle {
  color: #404040;
  margin-top: -6px;
  margin-left: -6px;
  cursor: pointer;
}

.times-circle:hover {
  color: black;
  transition: color 0.2s ease-in;
}

.send-email {
  height: 500px;
  width: 350px;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(56,56,56,0.5);
  position: absolute;
  top: 0;
  left:0;
  right:0;
  margin-top: 120px;
  margin-left:auto;
  margin-right:auto;
  z-index: 91;
  border-radius: 10px;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: .25;
  z-index: 90;
}

.modal:hover {
  cursor: pointer;
}

/* sending message stuff */

.send-email-container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px 10px;
}

.sent {
  justify-content: center;
}

.send-message-pic {
  width: 100px;
  height: 100px;
  border-radius: 100px;
  object-fit: cover;
  flex-shrink: 0;
  margin-bottom: 10px;
}

.send-message-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
}

.send-message-text {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 80%;
  height: 200px;
  background-color: none;
  border: 0.5px solid gray;
  margin: 20px 0;
  padding: 25px;
  resize: none;
}

.send-message-text:focus {
  outline: none;
  border: 0.5px solid black;
  transition: all 0.3s ease-in;
}

.send-message-button {
  border-radius: 15px;
  height: 30px;
  width: 125px;
  background-color: gray;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  cursor: pointer;
}

.send-message-button:hover {
  background-color: black;
  transition: background-color 0.2s ease-in;
}

.send-email-link {
  color: black;
  font-weight: 600;
}

.send-email-link:hover {
  border-bottom: 1px solid black;
}

/* for the categories popup on the bottom */

.categories-scroll {
  background-color: white;
  border-radius: 20px;
  width: 40vw;
  height: 75vh;
  position: absolute;
  top: 15%;
  left: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.categories-scroll-row {
  display: flex;
  margin: 10px 0;
}

.categories-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 20px;
  width: auto;
}

.show-categories {
  font-size: 12px;
  color: gray;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  cursor: pointer;
  margin: 0 15px;
}

.show-categories:hover {
  color: black;
  transition: color 0.2s ease-in;
}

.filter {
  display: flex;
  align-items: center;
}

.sc-open {
  right: 15px;
  bottom: 180px;
  z-index: 25;
  background-color: gray;
}

/* these have to be at bottom to have first priority */

.Housing {
  background-color: #8fbdbb;
  cursor: pointer;
}

.Food {
  background-color: #f5a99b;
  cursor: pointer;
}

.enabled {
  cursor: default;
}
